@model InfolineWork.Models.PersonModel
@{
    ViewBag.Title = "Index";
}

<script>
    //var base64EncodedStr = btoa(unescape(encodeURIComponent(rawData)));
    var base64first = "data:image/jpeg;base64,";
    PostData = new Array();
    var PostObject = new Object();
    $(document).ready(function () {
        $("#btnSave").click(function () {
            //kaydet butonuyla ajax ile server side a post methodu
            $.ajax({
                url: '/Home/PersonsSave',
                data: {
                    "result": PostData
                },
                type: "post",
                //cache: false,
                success: function (result) {
                    console.log(result);
                    var base64String = btoa(String.fromCharCode.apply(null, new Uint8Array(result)));// binary data yı base64 e çevirir
                    console.log(base64String);
                    $("#path2").attr("src", base64first + base64String);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log("error");
                }
            });
        });

        $('#cevir').click(function () {

            $("#path2").attr("src", base64first + base64);

        });
    });

    function resimgetir(inputElement) {
        var binaryBlob;
        var file = inputElement.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $("#path").attr("src", reader.result);
            var data = (reader.result).split(',')[1];//base64 hali
            PostObject.binaryImage = JSON.stringify(data);
            console.log(data);
            PostData[0] = PostObject;
        }
        reader.readAsDataURL(file);
        
    }
</script>

<div>
    <input id="resim" type="file" onchange="resimgetir(this)" />
    <img id="path" height="100" />
    <button id="btnSave">kaydet</button>

    <img id="path2"  />
</div>




